.env
mqtt_password.txt
.DS_Store
smart wihwin

target/
*.class
*.jar
*.war

__pycache__/
*.pyc
*.pyo
.venv/
venv/

.idea/
*.iml
.vscode/
*.swp

*.log

rabbitmq_data/

terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
!terraform/*.tfvars.example
terraform/.terraform.lock.hcl
terraform/crash.log
terraform/*.tfplan